<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="User Defined" description="Layouts, Renderings, Templates">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/Layout/Layouts/User Defined" />
                        <include name="Renderings" database="master" path="/sitecore/Layout/Renderings/User Defined" />
                        <include name="Templates" database="master" path="/sitecore/Templates/User Defined" />
                    </predicate>
                    <dataProviderConfiguration enableTransparentSync="false" />
                    <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
                </configuration>
				<configuration name="Media Library">
					<predicate>
						<include name="Media" database="master" path="/sitecore/media library/USA CJJ" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
                <configuration name="Content" description="" dependencies="User Defined, Media Library">
                    <predicate>
                        <include name="Content" database="master" path="/sitecore/Content" />
                    </predicate>
                    <dataProviderConfiguration enableTransparentSync="false" />
                    <syncConfiguration updateLinkDatabase="true" updateSearchIndex="false" />
                </configuration>				
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
