@using Glass.Mapper.Sc.Web.Mvc
@using Book2017.Models
@using Sitecore.Links
@using Sitecore.Web.UI.XslControls
@model Book2017.Models.IHomePage

<h2 class="content-title">@Html.Glass().Editable(x => x.Title)</h2>

<div class="content-content">
	@Html.Glass().Editable(x => x.Content)
</div>