@using Sitecore.Data.Items
@using Sitecore.Links
@model Book2017.Models.Navigation

@if (Model.Pages.Count > 0)
{
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            @foreach (Item i in Model.Pages)
            {
                <li><a href="@LinkManager.GetItemUrl(i)">@i.DisplayName</a></li>
            }
        </ul>
    </nav>
}