@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Items
@using Sitecore.Links
@model Book2017.Models.ISection

<h2 class="content-title">@Html.Glass().Editable(x => x.Title)</h2>

@if (Model.Intro.Trim() != "")
{
    <div class="content-body">
        @Html.Glass().Editable(x => x.Intro)
    </div>
}
@if (Model.Pages.Count > 0)
{
    <div class="section-pages">
        <ul>
            @foreach (Item i in Model.Pages)
            {
                <li><a href="@LinkManager.GetItemUrl(i)">@i.DisplayName</a></li>
            }
        </ul>
    </div>
}