@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Items
@using Sitecore.Links
@model Book2017.Models.ISection

@if (Model.Title.Trim() != "" || Sitecore.Context.PageMode.IsExperienceEditor)
{
    <h2 class="content-title">@Html.Glass().Editable(x => x.Title)</h2>
}

@if (Model.Intro.Trim() != "" || Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="content-body">
        @Html.Glass().Editable(x => x.Intro)
    </div>
}
@if (Model.Pages.Count > 0)
{
    <h4 class="section-pages-header">
        In this section: 
    </h4>
    <div class="section-pages">
        <ul>
            @foreach (Item i in Model.Pages)
            {
                <li><a href="@LinkManager.GetItemUrl(i)">@i.DisplayName</a></li>
            }
        </ul>
    </div>
}