@using Sitecore.Mvc

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
    <title>USA CJJ</title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/Site.css" />
</head>
<body>

<div class="header">USA Combat Jujitsu</div>
<div class="row">
    <div class="nav col-md-2">@Html.Sitecore().Placeholder("nav")</div>
    <div class="main-content col-md-10">@Html.Sitecore().Placeholder("content")</div>    
</div>

</body>
</html>